<%- include('../includes/header'); -%>
  <main role="main" class="inner cover">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <h1 class="cover-heading text-center">ENTER NEW PASSWORD</h1>
        <p class="lead">
            <form action="<% process.env.APP_URL %>/password/change/" method="POST">
              <input type="hidden" name="id" value="<%- id %>">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter Password">
                </div>
                <div class="text-center">
                  <button class="btn btn-success" type="submit">Reset Password</button>
                </div>
              </form>
        </p>
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>