<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <h1 class="cover-heading text-center">DASHBOARD</h1>
    <div class="row text-center">
    <div class="col-12">
      <p class="lead">
        User Id: <%- user_detail._id %><br />
        Name: <%- user_detail.name %><br />
        Email: <%- user_detail.email %><br />
        User Role: <%- user_detail.user_type %><br />
      </p>  
    </div>
    <div class="col-12">
      <% if(appointments != false){%>
        <hr />
        <h4>Your Appointments.</h4>
        <br />
        <table class="table table-bordered text-dark table-responsive">
          <tr>
              <th>APPOINTMENT ID</th>
              <th>APPOINTMENT TYPE</th>
              <th>APPOINTMENT DATE / TIME</th>
              <th>PRESCRIPTION</th>
              <th>CREATED AT</th>
              <th>UPDATED AT</th>
          </tr>
          <% appointments.forEach(function (appointment) { %>
              <tr>
                  <td>
                    <!-- <a href="<% process.env.APP_URL %>/admin/appointment/update/<%= appointment._id %>"> -->
                      <%= appointment._id %>
                    <!-- </a> -->
                  </td>
                  <td><%= appointment.appointment_type %></td>
                  <td><%= appointment.appointment_date_time %></td>
                  <td><%= appointment.prescription %></td>
                  <td><%= appointment.created_at %></td>
                  <td><%= appointment.updated_at %></td>
              </tr>
          <% }) %>
      </table>  
      <% } else {%>
        <hr />
        <h4>No Appointments Yet.</h4>
        <a class="btn btn-success" href="/book-appointment/">Book New Appointment</a>
      <% } %>
    </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>