<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <h1 class="cover-heading text-center">LOGIN</h1>
        <p class="lead">
            <form action="<% process.env.APP_URL %>/login/" method="POST">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter Password">
                </div>
                <div class="text-center">
                  <a href="/register/">New User? Register</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                  <a href="/password/reset/">Forgot Password</a>
                  <br />
                  <br />
                  <button class="btn btn-success" type="submit">Login</button>
                </div>
              </form>
        </p>    
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>