<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <h1 class="cover-heading text-center">RESET PASSWORD</h1>
        <p class="lead">
            <form action="<% process.env.APP_URL %>/password/reset" method="POST">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="text-center">
                  <button class="btn btn-success" type="submit">Reset Password</button>
                  <p>(Send Me An Email With Password Reset Link)</p>  
                </div>
              </form>
        </p>
        </div>
      </div>
  </main>
<%- include('../includes/footer'); -%>