<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <h1 class="cover-heading text-center">REGISTER</h1>
        <p class="lead">
            <form action="<% process.env.APP_URL %>/register/" method="POST">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input required name="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input required name="phone" type="number" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter Phone">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email">
                    <small id="email" class="form-text text-muted">We'll never share your email / phone with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required name="password" type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter Password">
                </div>
                <div class="text-center">
                  <a href="/login/">Already A User? Login</a>
                  <br />
                  <br />
                  <button class="btn btn-success" type="submit">Register</button>
                </div>
              </form>
        </p>
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>