<div class="text-center">
    <a href="/admin/users" class="btn btn-dark">USERS</a>
    <a href="/admin/appointment/create" class="btn btn-dark">CREATE NEW APPOINTMENT</a>
    <a href="/admin/appointment/view" class="btn btn-dark">VIEW ALL APPOINTMENTS</a>
    <a href="/admin/appointment/today" class="btn btn-dark">VIEW TODAY'S APPOINTMENTS</a>
</div>
<hr />