<%- include('../includes/header'); -%>

  <main role="main" class="inner cover text-center">
    <%- include('adminnav'); -%>
    <h1>CREATE APPOINTMENT</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <p class="lead">
            <form action="<% process.env.APP_URL %>/admin/appointment/create/store/" method="POST">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <div class="form-group">
                    <label for="user_id">PATIENT ID</label>
                    <input minlength="24" required name="user_id" type="text" class="form-control" id="user_id" aria-describedby="user_id" placeholder="Enter Patient Id">
                </div>
                <div class="form-group">
                    <label for="appointment_type">APPOINTMENT TYPE</label>
                    <input required name="appointment_type" type="text" class="form-control" id="appointment_type" aria-describedby="appointment_type" placeholder="Enter Appointment Type">
                </div>
                <div class="form-group">
                    <label for="appointment_date_time">APPOINTMENT DATE / TIME</label>
                    <input required name="appointment_date_time" type="datetime-local" class="form-control" id="appointment_date_time" aria-describedby="appointment_date_time" placeholder="dd/mm/yyyy 00:00" value="">
                </div>
                <br />
                <button class="btn btn-success" type="submit">Create Appointment</button>
              </form>
        </p>
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>