<%- include('../includes/header'); -%>

  <main role="main" class="inner cover text-center">
    <%- include('adminnav'); -%>
    <h1>APPOINTMENT REQUESTS</h1>
    <table class="table table-bordered text-dark table-responsive">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PATIENT ID</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>REFERER DOC</th>
            <th>APPOINTMENT TYPE</th>
            <th>CREATED AT</th>
            <th>UPDATED AT</th>
        </tr>
        <% appoint_req.forEach(function (appointment) { %>
            <tr>
                <td><%= appointment._id %></td>
                <td><%= appointment.name %></td>
                <td><%= appointment.user_id %></td>
                <td><%= appointment.phone %></td>
                <td><%= appointment.email %></td>
                <td><%= appointment.referer_doc %></td>
                <td><%= appointment.appointment_type %></td>
                <td><%= appointment.created_at %></td>
                <td><%= appointment.updated_at %></td>
            </tr>
        <% }) %>
    </table>
  </main>
<%- include('../includes/footer'); -%>