<%- include('../includes/header'); -%>

  <main role="main" class="inner cover text-center">
    <%- include('adminnav'); -%>
    <h1>TODAY'S APPOINTMENTS</h1>
    <table class="table table-bordered text-dark">
        <tr>
            <th>APPOINTMENT ID</th>
            <th>USER ID</th>
            <th>APPOINTMENT TYPE</th>
            <th>APPOINTMENT DATE / TIME</th>
            <th>PRESCRIPTION</th>
            <th>CREATED AT</th>
            <th>UPDATED AT</th>
        </tr>
        <% today.forEach(function (appointment) { %>
            <tr>
                <td><a href="<% process.env.APP_URL %>/admin/appointment/update/<%= appointment._id %>"><%= appointment._id %></a></td>
                <td><%= appointment.user_id %></td>
                <td><%= appointment.appointment_type %></td>
                <td><%= appointment.appointment_date_time %></td>
                <td><%= appointment.prescription %></td>
                <td><%= appointment.created_at %></td>
                <td><%= appointment.updated_at %></td>
            </tr>
        <% }) %>
    </table>
  </main>
<%- include('../includes/footer'); -%>