<%- include('../includes/header'); -%>

  <main role="main" class="inner cover text-center">
    <%- include('adminnav'); -%>
    <h1>USERS</h1>
    <table class="table table-bordered text-dark table-responsive">
        <tr>
            <th>USER ID</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>TYPE</th>
            <th>CREATED AT</th>
            <th>UPDATED AT</th>
        </tr>
        <% users.forEach(function (user) { %>
            <tr>
                <td><a href="<% process.env.APP_URL %>/admin/user/<%= user._id %>"><%= user._id %></a></td>
                <td><%= user.name %></td>
                <td><%= user.phone %></td>
                <td><%= user.email %></td>
                <td><%= user.user_type %></td>
                <td><%= user.created_at %></td>
                <td><%= user.updated_at %></td>
            </tr>
        <% }) %>
    </table>
  </main>
<%- include('../includes/footer'); -%>