<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <%- include('adminnav'); -%>
    <h1 class="cover-heading text-center">UPDATE USER</h1>
    <div class="row justify-content-center">
      <div class="col-4">
        <p class="lead">
          <form action="<% process.env.APP_URL %>/admin/user/update" method="POST">
            <input type="hidden" name="_csrf" value="<%- csrfToken %>">
            <input name="user_id" type="hidden" value="<%- user._id %>">
              <div class="form-group">
                  <label for="name">User Name</label>
                  <input required name="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name" value="<%- user.name %>">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input required name="email" type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email" value="<%- user.email %>">
              </div>
              <div class="form-group">
                  <label for="phone">Phone</label>
                  <input required name="phone" type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter Phone" value="<%- user.phone %>">
              </div>
              <br />
              <div class="text-center">
                <button class="btn btn-success" type="submit">Update User</button>
              </div>
            </form>
      </p>  
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>