<%- include('../includes/header'); -%>

  <main role="main" class="inner cover">
    <%- include('adminnav'); -%>
    <h1 class="cover-heading text-center">UPDATE APPOINTMENT</h1>
    <div class="row">
      <div class="col-4">
        <p class="lead">
          <form action="<% process.env.APP_URL %>/admin/appointment/update/" method="POST">
            <input type="hidden" name="_csrf" value="<%- csrfToken %>">
              <div class="form-group">
                  <label for="appointment_id">APPOINTMENT ID</label>
                  <input minlength="24" required name="appointment_id" type="text" class="form-control" id="appointment_id" aria-describedby="appointment_id" placeholder="Enter Appointment Id" value="<%- appointment._id %>">
              </div>
              <div class="form-group">
                  <label for="user_id">PATIENT ID</label>
                  <input minlength="24" required name="user_id" type="text" class="form-control" id="user_id" aria-describedby="user_id" placeholder="Enter Patient Id" value="<%- appointment.user_id %>">
              </div>
              <div class="form-group">
                  <label for="appointment_type">APPOINTMENT TYPE</label>
                  <input required name="appointment_type" type="text" class="form-control" id="appointment_type" aria-describedby="appointment_type" placeholder="Enter Appointment Type" value="<%- appointment.appointment_type %>">
              </div>
              <div class="form-group">
                  <label for="appointment_date_time">APPOINTMENT DATE / TIME</label>
                  <input required name="appointment_date_time" type="text" class="form-control" id="appointment_date_time" aria-describedby="appointment_date_time" value="<%- appointment.appointment_date_time %>">
              </div>
              <div class="form-group">
                  <label for="prescription">PRESCRIPTION</label>
                  <textarea required name="prescription" class="form-control" id="prescription" aria-describedby="prescription" placeholder="Enter Prescription"></textarea>
              </div>
              <br />
              <button class="btn btn-success" type="submit">Update Appointment</button>
            </form>
      </p>  
      </div>
      <div class="col-8">
        <h4>PATIENT HISTORY</h4>
        <table class="table table-bordered text-dark table-responsive">
          <tr>
            <th>APPOINTMENT ID</th>
            <th>LAST VISIT</th>
            <th>PRESCRIPTION</th>
          </tr>
          <% history.forEach(function (history) { %>
            <tr>
              <td><%= history._id %></td>
              <td><%= history.appointment_date_time %></td>
              <td><%= history.prescription %></td>
            </tr>
        <% }) %>
        </table>
      </div>
    </div>
  </main>
<%- include('../includes/footer'); -%>