<%- include('includes/header'); -%>

  <main role="main" class="inner cover">
    <h4 class="cover-heading text-center">REQUEST FOR AN APPOINTMENT</h4>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <form action="<% process.env.APP_URL %>/book-appointment/request/" method="POST">
            <input type="hidden" name="_csrf" value="<%- csrfToken %>">
              <div class="form-group">
                  <label for="name">Name*</label>
                  <input required name="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
                  <label for="user_id">Patient ID (Optional)</label>
                  <input name="user_id" type="text" class="form-control" id="user_id" aria-describedby="user_id" placeholder="Enter Your ID"
                  <% if(user_id != false){ %>
                    value="<%- user_id %>"
                  <% }%>
                  >
                  <small id="user_id" class="form-text text-muted"><a href="/login">Login</a> To Auto Insert Your ID.</small>
                  <label for="phone">Phone*</label>
                  <input required name="phone" type="number" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter Phone">
                  <label for="email">Email*</label>
                  <input required name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email">
                  <small id="email" class="form-text text-muted">We'll never share your email / phone with anyone else.</small>
              </div>
              <div class="form-group">
                  <label for="referer">Referer Doctor (Optional)</label>
                  <input name="referer" type="text" class="form-control" id="referer" aria-describedby="referer" placeholder="Enter Referer Dr. Name">
                  <label for="type">Appointment Type*</label>
                  <select required name="type" id="type" class="form-control" aria-describedby="type">
                    <option value="" selected disabled>Select Appointment Type</option>
                    <option value="New Appointment">New Appointment</option>
                    <option value="Follow Up">Follow Up</option>
                  </select>
              </div>
              <button class="btn btn-success" type="submit">Request Appointment</button>
            </form>
        </div>
        <div class="col-12 offset-lg-2 col-lg-6">
          <br />
          <h3 class="text-center">Instructions To Fill The Form</h3>
          <ol>
            <li>Enter Your Full Name e.g John Mclane Doe.</li>
            <li>Enter Patient Id Assigned To You. If You Are A New Patient, A Patient ID Will Be Auto Generated Upon <a href="/register">Registration</a>. However, this is an optional step as our staff will anyways contact you.</li>
            <li>Enter Your 10 Digit Phone Number. This Number Is Used To Deliver Appointment Related Information To You.</li>
            <li>Enter Your Email Id. This Email Is Used To Deliver Appointment Related Information To You.</li>
            <li>Enter The Name Of The Doctor Who Has Refered Us To You. (Optional)</li>
            <li>Select New Appointment If You Are A New Patient Or Else Select Follow Up.</li>
          </ol>
        </div>
      </div>
    </div>
  </main>
<%- include('includes/footer'); -%>