<%- include('includes/header'); -%>

  <main role="main" class="inner cover">
    <h1 class="cover-heading text-center">APPOINTMENT REQUESTED.</h1>
    <p>You Have Successfully Requested An Appointment. One Of Our Staff Members Will Get In Touch With For For Appointment Date / Time. Check Your Email For More Information.</p>
  </main>
<%- include('includes/footer'); -%>