<%- include('includes/header'); -%>

  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">DOCTOR-D</h1>
    <p class="lead">A Specialized Application For Appointment Booking Build On NodeJS And Mongo DB.</p>
    <p class="lead">
    </p>
  </main>
<%- include('includes/footer'); -%>