<%- include('head'); -%>
  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">That's A 400.</h1>
    <p class="lead">Sorry, But Do Not Have Access Over Here.</p>
  </main>
<%- include('../includes/footer'); -%>