<%- include('head'); -%>
  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">That's A 401.</h1>
    <p class="lead">You Are Not Authorized To Be Here.</p>
  </main>
<%- include('../includes/footer'); -%>