<%- include('head'); -%>
  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">That's A 404.</h1>
    <p class="lead">We Could Not Find The Page You Were Looking For.</p>
  </main>
<%- include('../includes/footer'); -%>