<%- include('head'); -%>
  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">That's A 500.</h1>
    <p class="lead">Some Error Occured.</p>
  </main>
<%- include('../includes/footer'); -%>