<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Specialized Application For Appointment Booking Build On NodeJS And Mongo DB.">
    <meta name="author" content="Jay Dadarkar">
    <title>DOCTOR-D BY JAY DADARKAR</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success">
        <a class="d-block d-lg-none navbar-brand" href="<%- process.env.APP_URL %>"><%- process.env.APP_NAME %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="d-none d-lg-block navbar-brand" href="<%- process.env.APP_URL %>"><%- process.env.APP_NAME %></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="<%- process.env.APP_URL %>">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<% process.env.APP_URL %>/application-docs/">DOCUMENTATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<% process.env.APP_URL %>/book-appointment/">BOOK APPOINTMENT</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-0 mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MY ACCOUNT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<% process.env.APP_URL %>/login/">LOGIN</a>
                <a class="dropdown-item" href="<% process.env.APP_URL %>/register/">REGISTER</a>
                <a class="dropdown-item" href="<% process.env.APP_URL %>/dashboard">DASHBOARD</a>
                <a class="dropdown-item" href="<% process.env.APP_URL %>/admin">ADMIN</a>
                <a class="dropdown-item" href="<% process.env.APP_URL %>/logout">LOGOUT</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <br /><br />