<%- include('head'); -%>
  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Flash Message.</h1>
        <p class="lead"><%= val_errors %>.</p>
  </main>
<%- include('../includes/footer'); -%>